.img {
  margin: auto;
  width: 100%;
  margin-right:16px;
  margin-bottom:2px;
}

.column {
  float: left;
  width: 50%;
  padding: 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.active {
  color: black;
}

.post-img{
  max-width: 340px;
  max-height: auto;
  height: auto;
  padding-right: 16px;
  padding-bottom: 0px;
}

.text-below {
  display: block;
  clear: left;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 90%;
}

.post{
  background-color: #f1f1f1;
  text-align: left;
  padding: 16px;
  margin-top: 0px;
  margin-bottom: 32px;
}

.otsikko-uutinen {
  margin: 0px;
}

.pvm-uutinen {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 90%;
}

.image-display {
  padding-top:8px;
  padding-bottom:8px;
}
